{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">

    <h2>Your Account Balance</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Amount</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for entry, edit_url in financial_status_data %}
        <tr>
            <td>{{ entry.category }}</td>
            <td>${{ entry.amount }}</td>
            <td>
                <a href="{{ edit_url }}" class="btn btn-warning">Edit</a>
            </td>
        </tr>
    {% endfor %}
    
    <tr>
      <td colspan="3">
          <strong>estimation for future months:</strong>
          <span style="color: #888;">
              {% with current_month=now|date:"F" %}
                  {% with next_month=now|date:"F"|date:"F" %}
                      {% for amount in estimated_account_balance_list %}
                          {% if forloop.counter <= 2 %}
                              {{ next_month }} ${{ amount }} &nbsp;
                          {% endif %}
                      {% endfor %}
                  {% endwith %}
              {% endwith %}
          </span>
      </td>
    </tr>
      </tbody>
    </table>

    <hr>

    <div class="mb-4">
      <!-- <h4 class="mb-2">Add New Financial Status Category</h4> -->
      <button id="toggleFinancialStatusForm" class="btn btn-sm btn-outline-secondary">+ Add Financial Status</button>
      <div id="financialStatusFormWrapper" style="display: none;">
        <form method="post" action="{% url 'add_new_financial_status' %}">
          {% csrf_token %}
          {{ financial_status_form.as_p }}
          <button type="submit" class="btn btn-sm btn-primary">Save</button>
        </form>
      </div>
    </div>


    <div style="margin-top: 120px;"></div>


    <h2>Sources of Income</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Earnings per hour</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in earning_source_data %}
          <tr>
            <td>{{ entry.title }}</td>
            <td>{{ entry.category }}</td>
            <td>${{ entry.amount }}</td>
            <td>
              <form action="{% url 'delete_earning_source' entry.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr>

    <div class="mb-4">
      <!-- <h4 class="mb-2">Add New Source of Income</h4> -->
      <button id="toggleEarningSourceForm" class="btn btn-sm btn-outline-secondary">+ Add New Earning Source</button>
      <div id="earningSourceFormWrapper" style="display: none;">
        <form method="post" action="{% url 'add_new_earning_source' %}">
          {% csrf_token %}
          {{ earning_source_form.as_p }}
          <button type="submit" class="btn btn-sm btn-primary">Save</button>
        </form>
      </div>
    </div>

  </div>

  <script>
    document.getElementById("toggleFinancialStatusForm").addEventListener("click", function() {
      var formWrapper = document.getElementById("financialStatusFormWrapper");
      if (formWrapper.style.display === "none") {
        formWrapper.style.display = "block";
      } else {
        formWrapper.style.display = "none";
      }
    });

    document.getElementById("toggleEarningSourceForm").addEventListener("click", function() {
      var formWrapper = document.getElementById("earningSourceFormWrapper");
      if (formWrapper.style.display === "none") {
        formWrapper.style.display = "block";
      } else {
        formWrapper.style.display = "none";
      }
    });
  </script>
{% endblock %}
