{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Your Financial Status</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in finantial_status_data %}
          <tr>
            <td>{{ entry.category }}</td>
            <td>${{ entry.amount }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
